
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    background-color: #ffffff;
    color: white;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;

    
    
    
}
.navbar-logo {
    height: 60px;
}

.navbar a {
    color: rgb(1, 60, 21);
    text-decoration: none;
    margin: 0 1rem;
}

.navbar-links {
    list-style: none;
    display: flex;
}
.cart-icon {
    position: relative;
    font-size: 24px;
    color: white;
}

.cart-img {
    height: 30px;
    width: auto;
}

.item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}

.cart-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    z-index: 1000;
}

.cart-container:hover .cart-dropdown {
    display: block;
}


.navbar-links a:hover {
    color: rgb(135, 85, 4);
    font-weight: bolder;
}

